<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--定义bean-->
    <bean id="user" class="com.belonk.bean.User">
        <property name="name" value="spring"/>
    </bean>

    <!--
        1、自动开启注解支持，即annotation-config默认为true
        2、默认use-default-filters为true，表示默认扫描策略，即自动扫描@Controller、@Service、@Repository
        、@Component注解的bean，可以设置false来自定义扫描策略
        3、component-scan可以写多个，组合起来定义扫描策略
    -->
    <context:component-scan base-package="com.belonk" annotation-config="true" use-default-filters="true"/>

    <!--
        自定义扫描策略：
        - include-filter：仅扫描包含的组件，需要先将use-default-filters设置为false，表示不启用默认策略
        - exclude-filter: 不扫描的组件，排除组件
            — type：filterType，有以下几种类型：
                - annotation : 使用注解
                - assignable : 按照类型关系
                - aspectj : aspectj表达式
                - regex : 正则
                - custom : 自定义，实现TypeFilter接口
    -->
    <!--    <context:component-scan base-package="com.belonk" use-default-filters="false">-->
    <!--        <context:include-filter type="assignable" expression="com.belonk.MyFilter"/>-->
    <!--使用自定义过滤规则-->
    <!--        <context:include-filter type="custom" expression="com.belonk.CustomTypeFilter"/>-->
    <!--    </context:component-scan>-->

    <!--多个component-scan组合-->
    <!--<context:component-scan base-package="com.belonk" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.belonk" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>-->
    <!--<context:component-scan base-package="com.belonk">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>-->
</beans>